
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Todo</h1>

<f:flashMessages renderMode="div" />

<table  class="tx_pmtodo" >
	<tr>
		<th><f:translate key="tx_pmtodo_domain_model_todo.title" /></th>
		<th><f:translate key="tx_pmtodo_domain_model_todo.startdate" /></th>
		<th><f:translate key="tx_pmtodo_domain_model_todo.enddate" /></th>
		<th><f:translate key="tx_pmtodo_domain_model_todo.description" /></th>
		<th><f:translate key="tx_pmtodo_domain_model_todo.files" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{todos}" as="todo">
		<tr>
			<td><f:link.action action="show" arguments="{todo : todo}"> {todo.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{todo : todo}"> {todo.startdate -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{todo : todo}"> {todo.enddate -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{todo : todo}"> {todo.description}</f:link.action></td>
			<td><f:link.action action="show" arguments="{todo : todo}"> {todo.files.originalResource.name}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{todo : todo}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{todo : todo}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Todo</f:link.action>
</f:section>