<li class="list-group-item {f:if(condition: '{toDo.status} == 1',  then: ' inactive', else: '')}">
<span class="glyphicon glyphicon-trash pull-right"></span>
<f:link.action action="edit" class="editTodo" controller="Todo" arguments="{todo : toDo, task:task, project:selectedProject}"><span class="glyphicon glyphicon-pencil pull-right resolved">&nbsp;</span></f:link.action>

<h4>
    <f:link.action action="resolved" controller="Todo" arguments="{todo : toDo, task:task, project:selectedProject}">
        <span class="glyphicon glyphicon-ok deactivate" data-name="{toDo.uid}"></span>
    </f:link.action> {toDo.title}</h4>
<p class="list-group-item-text">{toDo.description}</p>

</li>